.box-filter{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.box-month-total{
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #E1CAE4;
}